body {
}

header {
    background-color: lightskyblue;
    padding: 20px 0;
    display: flex;
}

.header-container {
    display: flex;
    gap: 10px;
    width: 70%;
    margin: 0 20%;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 70%;
    margin: 50px 20%;
}

.brand-content {
    width: 100%;
    text-align: center;
}
