@page "/"
@using Presentations.Components.UI

<PageTitle>Home</PageTitle>

<header>
	<div class="header-container">
		<InputComponent Placeholder="First name"></InputComponent>
		<InputComponent Placeholder="Last name"></InputComponent>
		<InputComponent Placeholder="Participation"></InputComponent>
		<ButtonComponent Text="Send"></ButtonComponent>
	</div>
</header>

<h1>Hello, world!</h1>

Welcome to your new app.
