@page "/"
@using Presentations.Components.UI
@using Presentations.Models

<PageTitle>Home</PageTitle>

<header>
	<div class="header-container">
		<InputComponent Placeholder="First name"></InputComponent>
		<InputComponent Placeholder="Last name"></InputComponent>
		<InputComponent Placeholder="Participation"></InputComponent>
		<ButtonComponent Text="Send"></ButtonComponent>
	</div>
</header>
<div class="main-container">
	<div class="brand-content">
		<h1>DATA</h1>
		<p>Loem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	</div>
	<div class="graphs">
		<TableComponent Clients="Clients"></TableComponent>
	</div>
</div>

@code {
	private IEnumerable<ClientModel> Clients { get; set; } = [];

	protected override void OnInitialized()
	{
		Clients = new List<ClientModel>
		{
			new ClientModel { FirstName = "John", LastName = "Doe", Participation = 25 },
			new ClientModel { FirstName = "Jane", LastName = "Doe", Participation = 50 },
			new ClientModel { FirstName = "Alice", LastName = "Doe", Participation = 75 },
		};
	}
}

