body {
}

.button-component {
    background-color: lightskyblue;
    padding: 20px;
    font-weight: 900;
    border: 2px solid white;
    color: white;
    border-radius: 3px;
    min-width: 120px;
}
